.admin-container {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    z-index: -1;
    inset: 0;
  }
}

.admin-header {
  width: 100%;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.607);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;

}

.left-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.607);
  backdrop-filter: blur(2vh);
  justify-content: space-around;
  box-shadow: 0px 0px 2vh rgba(0, 0, 0, 0.194);
  border-radius: 5px;
  overflow: hidden;
  & > div{
    width: 100%;
  }
  .left-menu-item {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 10vh;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    &:hover {
      color: rgb(93, 93, 93);
    }
  }

  .left-menu-item.active {
    border-left: 5px solid rgb(73, 73, 73);
    background-color: #00000011;

  }
}

.admin-main-container {
  width: 90%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.26);
  box-shadow: 0px 0px 2vh rgba(0, 0, 0, 0.194);
}

.admin-page-header {
  z-index: 10;
  position: sticky;
  top: 0;
  max-width: 100%;
  max-height: 10%;
  background-color: rgba(255, 255, 255, 0.693);
  box-shadow: 0px 0px 2vh rgba(0, 0, 0, 0.194);
  backdrop-filter: blur(20vh);
  border-bottom-right-radius: 3vh;
  border-bottom-left-radius: 3vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vh;

  .admin-page-title {
    width: 50%;
    height: 100%;
    color: #4b4b4bbd;
    font-size: 3vh;
    border-left: 1vh solid #4b4b4bbd;
    padding-left: 10px;
  }

  .admin-page-option {
    display: flex;
    width: 10%;
  }
}

.admin-product-container {
  width: 100%;
  min-height: 100%;
  background-color: rgba(255, 255, 255, 0.725);
  border-radius: 3vh;
  box-shadow: 0px 0px 2vh rgba(0, 0, 0, 0.194);
  backdrop-filter: blur(3vh);
  margin: 1vh auto;
  padding: 2vh;
}

.admin-product-main-container {
  gap: 1vh;
  display: flex;
  height: 95vh;
}
.admin-product-items{
  height: 90%;
  overflow: hidden;
  overflow-y: auto;
}
.category-admin-title {
  display: flex;
  align-items: center;
  gap: 5%;
  justify-content: space-between;
  border-bottom: 1px solid #83b1da;

  &>div {
    display: flex;
    align-items: center;
    gap: 5%;

    &>button {
      width: 5vh;
      height: 5vh;
      border-radius: 1vh;
      border: none;
      outline: none;
      background-color: #2cb037;
      cursor: pointer;

      &:hover {
        background-color: #3bc647;

      }
    }
  }
}

.category-admin-items {
  &::-webkit-scrollbar {
    width: 2px;
  }

  ;

  &::-webkit-scrollbar-thumb {
    background-color: white;
  }

  ;
  height: 70%;
  overflow: hidden;
  overflow-y: auto;
}

.category-admin-item {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6vh;
  border-bottom: 0.1vh solid rgba(1, 1, 1, 0.141);
  cursor: pointer;
  transition-duration: 0.2s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.461);
    transform: translateY(-0.1vh);
    box-shadow: 0.1vh 0.1vh 0.1vh rgba(0, 0, 0, 0.111);

    button {
      transform: translateX(0vh);

    }
  }

  .category-admin-item-option {
    flex: 1;
  }

  &>div {
    display: flex;
    align-items: center;

    button {
      transition-duration: 0.2s;
      transform: translateX(10vh);
      border: none;
      outline: none;
      background-color: transparent;
      border-radius: 2vh;
      cursor: pointer;

      &:hover {
        background-color: #d632326e;
      }
    }
  }

  .category-admin-item-name {
    color: #696969;
    font-weight: 550;
    font-size: 2.2vh;
    flex: 6;
    display: -webkit-box;
    /* Sử dụng box layout */
    -webkit-line-clamp: 2;
    /* Giới hạn số dòng */
    -webkit-box-orient: vertical;
    /* Hướng của box là dọc */
    overflow: hidden;
    /* Ẩn phần văn bản bị tràn */
    text-overflow: ellipsis;
    /* Hiển thị dấu '...' */
  }

  .category-admin-item-amount {
    font-weight: 400;
    color: #696969;
    font-size: 1.7vh;
    flex: 2;
    display: flex;
    justify-content: center;
  }
}

.product-item-prop {
  width: 25%;
}

.admin-product-detail-form {
  display: flex;
  height: 90%;
  flex-direction: column;
  gap: 1vh;
  overflow: hidden;
  overflow-y: auto;
}

.admin-product-detail-block {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.admin-product-detail-row {
  width: 100%;
  display: flex;
  gap: 10px;
}

.admin-product-detail-row.title {
  font-size: 13px;
  font-weight: 550;
  color: #666;
}

.main-image-container {
  border-radius: 10px;
  border-top-right-radius: 5vh;
  max-width: 100px;
  max-height: 100px;
  padding: 2vh;
  border: 3px dashed #bababa;
  color: #989898;
  font-size: 12px;
  cursor: pointer;
}

.image-preview-container {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 1vh;
  position: relative;
  transition-duration: 0.2s;

  .image-item {
    display: flex;
    flex-wrap: wrap;
    gap: 1vh;
    position: relative;
    transition-duration: 0.2s;

  }

  img {
    width: 50px;
    height: 50px;
  }

  .remove-button {
    position: absolute;
    right: 0;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
  }
}

.business-cards-container {
  display: grid;
  gap: 5px;
  grid-template-columns: auto auto auto auto;
}

.business-card-container[class*="op"] {
  border-top: 4px solid rgb(230, 78, 78);
}

.business-card-container[class*="admin"] {
  border-top: 4px solid rgb(249, 32, 32);
}

.business-card-container[class*="*"] {
  border-top: 4px solid rgba(249, 32, 32, 0.668);
}
.business-card-container[class*="product.manager"] {
  border-top: 4px solid rgb(86, 185, 255);
}
.business-card-container[class*="user.manager"] {
  border-top: 4px solid rgb(86, 185, 255);
}
.business-card-container[class*="null"] {
  border-top: 4px solid rgb(136, 136, 136);
}

.business-card-container.off{
  background-color: #ff000016;
}
.business-card-container.on{
  background-color: #00000008;
}
.business-card-container {
  cursor: pointer;
  height: auto;
  border-radius: 10px;
  display: flex;
  padding: 7px;
  gap: 7px;
  transition-duration: 0.2s;
  &:hover {
    transform: scale(1.05);
  }

  .business-card-avata-container {
    width: 50px;
    height: 50px;
    background-image: url("./lib/profile-user.png");
    background-position: center;
    background-size: contain;
    background-color: #bdbdbd;
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 50%;

    }
  }

  .business-card-content {
    .username {
      color: #666;
    }

    .email {
      color: #888;
      font-size: 12px;
    }

    .phone {
      color: #888;
      font-size: 12px;
    }
  }
}

/*===========================================[ORDER]====================================================*/
.admin-orders-container{
  height: 90%;
  overflow: hidden;
  overflow-y: auto;
  gap: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.order-product-item{
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 600;
  background-color: #00000009;
  color: #393939;
}


/*======================================[HOME]===========================================*/

.admin-home-main-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  overflow: hidden;
  overflow-y: auto;
  height: 100vh;
}
.admin-page-row {
  width: 100%;
  display: flex;
  gap: 10px;
}
.item-container-admin{
  background-color: rgba(255, 255, 255, 0.725);
  border-radius: 3vh;
  box-shadow: 0px 0px 2vh rgba(0, 0, 0, 0.194);
  backdrop-filter: blur(3vh);    
}
.revenue{
  background-color: rgba(126, 201, 253, 0.725);
}
.amount-of-order-created{
  background-color: rgba(98, 196, 125, 0.84);
}
.product-best-sale{
  background-color: rgba(255, 204, 170, 0.322);

}
.admin-chart-header-item-container{
  width: 25%;
  height: 170px;
  display: flex;
  position: relative;
  margin: 40px 0px;
  .admin-chart-header-icon-container{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.174);
    display: flex;
    align-items: center;
    justify-content: center;
    top: -25px;
    left: 30px;
  }
  .icon-title{
    position: absolute;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: #ffffffc7;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.092);
    display: flex;
    align-items: center;
    justify-content: center;
    top: -25px;
    left: 100px;
    font-size: 14px;
    font-weight: 600;
    color: #393939;
  }
}
.admin-header-item-content{
  display: flex;
  width: 100%;
  margin-top: 30px;
  padding: 10px;
}
.params-container{
  flex: 4;
  label{
    font-size: 14px;
    font-weight: 600;
    color: #393939;
  }
  span{
    font-size: 19px;
    font-weight: 200;
    color: #184b85;
  }
}
.per-container{
  span{
    font-size: 55px;
    font-weight: 550;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  p{
    font-size: 15px;
    color: #393939;
    font-weight: 600;
  }
  flex: 2;
  display: flex;
  justify-content: center;
  
}
.admin-chart-row1-item-container {
  width: 33.33%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

}

.item-container-title{
  max-width: 100%;
  font-size: 14px;
  font-weight: 600;
  color: #393939;
  background-color: #00000008;
  padding: 10px;
}
.chart-container{
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
}

.chart-content{
  max-width: 100%;
  max-height: 150px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  box-shadow: 50px 0px 50px rgba(0, 0, 0, 0.314);
  border: 1px solid rgb(162, 162, 162);
  border-bottom-right-radius: 3vh;
  border-bottom-left-radius: 3vh;
}

.admin-main-chart{
  flex: 6;
  height: 400px;
}
.option-main-chart{
  flex: 2;
}